*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
dist/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
.vscode/
.terraform.lock.hcl
.env
.env.*

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
examples/resources/timescale_privatelink_connection/terraform.tfvars
terraform-provider-timescale
examples/resources/timescale_privatelink_connection/azure/terraform.tfvars
examples/resources/timescale_privatelink_connection/aws/terraform.tfvars
